body {
	background-color: #ff8900;
	font-family: Tahoma;

	header {
		background-color: #e4decf;
		margin: 50px 60px  0px 60px;
		position: relative;
		font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
		font-size: 20px;
		font-weight: 800;
		height: 300px;
		padding: 10px;
		border-radius: 0 0 500px 500px;
		box-shadow: 4px 7px 5px rgba(0, 0, 0, 0.36) inset;
		z-index: 3;

		.navbar {
			overflow: hidden;
			font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
			justify-self: center;
			display: flex;
			padding: 20px;

			a {
				font-size: 16px;
				font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
				color: #ff8900;
				text-align: center;
				padding: 20px;
				text-decoration: none;
			}
			.dropdown {
				overflow: hidden;
				.dropbtn {
					cursor: pointer;
					font-size: 16px;
					border-color: #e4decf;
					outline: none;
					color: #e4decf;
					font-weight: 600;
					background-color: #ff8900;
					padding: 12px;
					font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
					margin: 0;
				}
				.dropdown-content {
					display: none;
					background-color: #e4decf;
					min-width: 160px;
					z-index: 3;
					a {
						color: rgb(251, 247, 242);
						padding: 12px 16px;
						text-decoration: none;
						font-size: 15px;
						display: block;
						position: relative;
						background-color: #ff8900;
						text-align: left;
						z-index: 4;
					}
				}
				.show {
					display: block;
					&:hover {
						background-color: rgb(219, 222, 227);
						z-index: 4;
					}
				}
			}
		}
					h4 {
			justify-self: right;
			text-decoration-style: wavy;
			color: #ff8900;
			font-size: 14spx;
			width: 300px;
			padding-right: 100px;
			transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1) ease-in;
			transform-style: preserve-3d;
			animation: rotate 4s infinite linear;
			z-index: 2;
			@keyframes rotate {
				to {
					transform: rotateY(-90deg);
					z-index: 2;
				}
			}
		}

	}
	main {

		.heroshot {
			position: relative;
			margin: 30vh 1vw 10vh 1vw;

				#sixth-img {
				position: absolute;
				height: 500px;
				left: -7dvw;
				top: -80vh;
				z-index: 10;
				opacity: 1;
			}
			#seventh-img {
				position: absolute;
				height: 350px;
				width: 230px;
				top: -60vh;
				z-index: 2;
				right: 10px;
				opacity: 1;
			}
		}


				.banner {
			overflow: hidden;

			.banner-track {
				padding-top: 2px;
				animation: scroll 16s linear infinite;
				width: 100vw;
				display: flex;

				&:hover {
					animation-play-state: paused;
				}
			}

			.banner-item {
				width: 210vw;
				min-height: 4vh;
				margin-right: 10px;

				img {
					min-width: 100px;
					max-height: 180px;
				}
			}
		}

		@keyframes scroll {
			0% {
				transform: translateX(0);
			}

			100% {
				transform: translateX(-200vw);
			}
		}
		#flex-container {
			display: flex;
			top: 10vh;
			padding: 15vh 1vw;
			align-items: center;
			max-width: 80vw;
			margin: 1vh 8vw;
			background-color: #ff8900;
			box-shadow: 2px 0px 7px 5px rgba(86, 75, 75, 0.78);

			flex-direction: row;
			position: relative;
			#nav {
				height: 80%;
				-webkit-box-flex: 0;
				-ms-flex: 0 0 auto;
				flex: 0 0 auto;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				width: 35%;
				margin-bottom: 2px;
				margin-right: 20px;
				align-items: center;
				.list {
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					list-style: none;
					-ms-flex-line-pack: stretch;
					align-content: stretch;
					-webkit-box-orient: vertical;
					-webkit-box-direction: normal;
					-ms-flex-direction: column;
					flex-direction: column;
					-webkit-box-flex: 1;
					-ms-flex: 1 1 auto;
					flex: 1 1 auto;
					margin: 20px;
					padding: 0;
					-webkit-box-sizing: border-box;
					box-sizing: border-box;
					border-right: 2px solid #cccccc;
					.item {
						input {
							display: none;
							&:checked~.content-test {
								transform: translateX(2%);
								-webkit-transition: -webkit-transform 1s;
								transition: -webkit-transform 1s;
								-o-transition: transform 1s;
								transition: transform 1s;
								transition: transform 1s, -webkit-transform 1s;
								opacity: 1;
								h3 {
									font-size: 10px;
									display: grid;
									color: rgb(239, 236, 226);
									position: relative;
								}
								&:checked~label {
									opacity: 1;
									-webkit-animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
									animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
								}
							}
						}
						label {
							display: block;
							opacity: 0.8;
							color: rgb(238, 236, 221);
							height: 50px;
							text-align: center;
							line-height: 50px;
							position: relative;
							&:hover {
								opacity: 0.75;
								color: #272451;
								cursor: pointer;
							}
							.label_-1:before {
								content: " ";
								display: block;
								position: absolute;
								width: 50px;
								height: 50px;
								margin-left: 15px;
								background-position: center;
								background-size: 75% 75%;
								background-repeat: no-repeat;
								border-radius: 50%;
							}
						}
						.content-test {
							position: absolute;
							right: 2%;
							bottom: 15px;
							opacity: 0;
							-webkit-transform: translateY(0%);
							-ms-transform: translateY(0%);
							-webkit-box-orient: horizontal;
							transform: translateY(0%);
							height: 90%;
							width: 60%;
							-webkit-transition: 0.5s ease-out;
							-o-transition: 0.5s ease-out;
							transition: 0.5s ease-out;
							display: -webkit-box;
							display: -ms-flexbox;
							display: flex;
							-webkit-box-align: center;
							-ms-flex-align: center;
							align-items: center;
							-webkit-box-pack: center;
							-ms-flex-pack: center;
							justify-content: center;
							-webkit-box-orient: horizontal;
							-webkit-box-direction: normal;
							flex-direction: row;
							pointer-events: none;
							a {
								max-width: 40%;
								color: #ff8900;
								padding: 6px;
								text-shadow: #161614;
								font-weight: 600;
								background-color: #e4decf;
								font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
								text-align: center;
								text-decoration: none;
								margin: 5px;
								right: 20px;
								border-radius: 220px;
							}
						}
						.content_category-1 {
							h3 {
								color: #f0eaea;
								display: grid;
								text-align: center;
								font-size: 20;
							}
							.info1 {
								display: flex;
								height: 80%;
								width: 60%;
								flex-direction: row;
								flex-wrap: wrap;
								align-content: center;
								justify-content: space-around;
								align-items: center;
							}
						}
						.content_category-2 {
							h3 {
								color: #f0efea;
								display: grid;
								text-align: center;
								font-size: 20;
							}
							.info2 {
								display: flex;
								height: 50%;
								width: 70%;
								right: 1%;
								padding: 10px;
								background-color: #dbdad4;
								flex-direction: row;
								flex-wrap: wrap;
								align-content: center;
								justify-content: space-around;
								align-items: center;
								border-radius: 1px;
							}
						}
						.content_category-3 {
							h3 {
								color: #f0efea;
								display: grid;
								text-align: center;
								font-size: 20;
							}
							.info3 {
								display: flex;
								height: 50%;
								width: 80%;
								right: 1%;
								background-color: #f79d37;
								flex-direction: row;
								flex-wrap: wrap;
								align-content: center;
								justify-content: space-around;
								align-items: center;
								list-style: none;
								text-decoration: none;
								border-radius: 1px;
								box-shadow: 1px 1px 1px rgb(223, 165, 6), 0 0 0 #000,
								2px 2px 2px rgba(245, 244, 240, 0.966);
								ul {
									list-style: circle;
									justify-items: center;
									padding: 10px;
									border: 1;
									margin: 10px;
									li {
										padding: 10px;
										color: #e6dfdf;
									}
								}
							}
						}
					}
				}
			}
			#info {
				height: 80%;
				width: 55%;
				justify-self: center;
			}
		}


.invest {
position:relative;
margin-top: 90px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;

	.invest-sub {
		color:#eba04b;
		display: grid;
		height: 80%;
		padding: 30px;
		margin: 40px;
		text-decoration: none;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: space-evenly;
		button {
			position: relative;
			padding: 30px;
			color: #38362e;
			width: 300px;


		&::after {
			margin-left: 1.5em;
			margin: 20px;
			padding: 20px;
			vertical-align: baseline;
		}

		&:hover,
		&:focus {
			color:#e8a023;
			cursor: pointer;
		}

		&:hover::after,
		&:focus::after {
			margin-left: 2em;
		}
	}
	}
}

.title-debt {
	display: flex;
	background-color: #f8a12f;
	color: #e7e6e3;
	width: 280px;
	border: 10px;
	border-style:double;
	border-color: #f4a907;
	padding: 20px;
	font-size: 25px;
	position: relative;
	text-align: center;
	justify-items: center;
	justify-self: center;
	&:hover {
		background-color: rgb(227, 222, 213);
		color: #e79623;

	}

}
.container-fluid{

	display: flex;
	justify-content: center;
	position: relative;

.heading-list {
	cursor: pointer;
	position: relative;
	background-color: #fff;
	border-bottom: solid 1px #212121;
	padding: 2rem;
	width: 350px;
	color: rgb(210, 210, 209);
	font-size: 22px;
	text-align: center;
	transition: background-color 0.5s ease;
	border: 4px;
	border-style: outset;
	&:hover {
		background-color: #ff9800;
		border-bottom: solid 1px #ff9800;
	}
}


.heading-rank {
	cursor: pointer;
	position: relative;
	background-color: #fff;
	border-bottom: solid 1px #212121;
	padding: 2rem;
	width: 350px;
	color: rgb(210, 210, 209);
	font-size: 22px;
	text-align: center;
	transition: background-color 0.5s ease;
	transition: color 0.5s ease;
	border: 4px;
	border-style: outset;
	&:hover {
		color: #eeeeee;
		background-color: #4b6bc5;
		border-bottom: solid 1px #212121;
	}
}


.heading-budget {
	cursor: pointer;
	position: relative;
	background-color: #fff;
	width: 350px;
	border-bottom: solid 1px #212121;
	padding: 2rem;
	color: rgb(210, 210, 209);
	font-size: 22px;
	text-align: center;
	transition: background-color 0.5s ease;
	border: 4px;
	border-style: outset;
	&:hover {
		background-color: #0f7a13;
		border-bottom: solid 1px #ff6f61;
	}
}
}

.tab-content {
	display: none;

	justify-self: anchor-center;
		font-size: 22px;
		box-shadow: 2px 0px 7px 5px rgba(61, 53, 53, 0.349);;

	.right-content {
		padding-left: 4rem;
		font-size: 20px;
		padding-top: 4rem;

	}
	.col1 {
		background-color: #ff9800;
		display: flex;
		-ms-flex-align: left;
	}
	.col2 {
		background-color: #4b6bc5;
		align-items:  center;
		display: flex;


	}
	.col3{
		background-color: #0f7a13;
	}

}

	}
	footer {
		.footer-cont
	{
    position: relative;
    justify-items: center;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
	}

			.footer-img {
				position: absolute;
				max-width: 98vw;
				align-self: anchor-center;
				z-index: 1;
			}
			.footer {
				display: flex;
				top: 300px;
				flex-direction: column;
				position: absolute;
				justify-items: left;
				position: absolute;
				max-width: 20vw;
				z-index: 20;
				a {
					color: #ff8900;
					text-decoration: none;
					font-size: 15px;
					font-weight: 700;
					font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
					text-decoration-color: #161614;
					margin: 2px;
					background-color: #e5e8ec;
					&:hover {
						color: #f0ecec;
						background-color: #ff8900;
					}
				}
				ul {
					position: relative;
					display: flex;
					flex-direction: column;
					color: #eba04b;
					list-style: inside;
					font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
					&:hover {
						color: #ffffff;
						cursor: pointer;
					}
				}
			}

	}
}